src/main/mule/mule-app-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7186a124-7157-4ab8-b0c6-1b134945a174" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<flow name="mule-app-demoFlow" doc:id="a9bc939e-0896-4dc7-8ceb-b51cb6f587b3" >
		<http:listener doc:name="Listener" doc:id="062b7be2-4b51-499f-a9e3-54dabe467082" config-ref="HTTP_Listener_config" path="/worldtime/{area}/{location}"/>
		<http:request method="GET" doc:name="Request" doc:id="c5de4da0-6696-4145-86a4-82f7955f84d6" url="http://worldtimeapi.org/api/timezone/{area}/{location}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"area" : attributes.uriParams.area,
	"location" : attributes.uriParams.location
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
